@use 'variables' as *;
@use 'mixins' as *;

* { margin: 0; padding: 0; box-sizing: border-box; }

.site-header{
  display: flex ;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.site-header-left {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem 2.5rem;
}

.main-nav, .contact{
  @media (min-width: $desktop){
    padding: 0.5rem;
  }
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 0.5rem;
  width: 48px;
  height: 64px;
}

nav a, .contact a{
  font-family: $sans-serif-body-font;
  font-weight: 300;
  font-size: 17px;
}

.menu-wrapper {
  display: flex;
  justify-content: right;
  align-items: center;
  width: fit-content;
  height: auto;
}

button {
  width: 36px;
  height: 36px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-nav-button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
}

#main-nav-list, .contact{
  display: none;
}

.contact.open{
  display: block;
  padding: 2rem 1rem 0;
}


.menu-wrapper{
  position: absolute;
  top: 20px;
  right: 20px;
}

#main-nav-list.open {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 3rem 1rem;
  background-color: $primary-blue;
}

.site-header-mobile{
  background-color: $primary-blue;
  width: 100%;
  height: 31.5rem;
}

@media (min-width: $desktop) {
  #main-nav-button {
    display: none;
  }
  #main-nav-list, .contact {
    display: flex;
    width: fit-content;
  }
}

ul{
  list-style: none;
}


.main-nav-middle{
  display: flex;
  flex-direction: column;
  justify-content: start;
  row-gap: 2.5rem;
}


@media (min-width: $desktop){
  .main-nav-middle{
    display: flex;
    flex-direction: row;
    justify-content: start;
    column-gap: 3rem;
  }
}

.chevron{
  height: 0.45rem;
  width: 0.45rem;
  margin-bottom: 0.1rem;
  margin-left: 0.125rem;
}

a{
  @include body-style-white($body-reg);
  text-decoration: none;
}
