@use 'variables' as *;
@use 'mixins' as *;

* { margin: 0; padding: 0; box-sizing: border-box; }

.video-background{
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#background-video{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1; 
}

// .overlay{
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     color: $primary-white;
//     z-index: 0;
// }

.hero-section{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-section-middle{
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    left: 0; 
    right: 0;
    margin: auto;
}

@media (min-width: $desktop){
    .break{
        display: block;
    }
}

.hero-text-wrapper {
    @include heading-style-white(1.125rem);
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $padding-sides;
    
    @media (min-width: $desktop){
        @include heading-style-white(1.5rem);
    }
}
h1{
    width: fit-content;
    height: auto;
}


.inline-block {
    display: block;
}

.italic-text{
    @include italic-text(20px);
}

.hero-section a{
    text-decoration: none;
}

.hero-section-bottom{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 5.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (min-width: $desktop){
        bottom: 0.45rem;
        right: 0.45rem;
    }
}

.call-to-action-1{
    @include body-style-white($body-reg);
    padding: 1rem 1.75rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    column-gap: 0.6rem;
}

.call-to-action-1 p{
    font-family: $sans-serif-body-font;
    font-weight: 300;
    font-size: 16.5px;
}


.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action-2-anchor{
    display: none;

    @media (min-width: $desktop){
        display: flex;
        width: 17.5rem;
        height: 7.5rem; 
    }
}

.call-to-action-2{
    display: flex;
    flex-direction: row;
    justify-content: start;

}

.bottle-img-container{
    width: fit-content;
    height: auto;
    
    img{
        width: 6rem;
        height: 7.5rem;
        margin: 0;
        padding: 0;
        object-fit: cover;
    }
}


.call-to-action-2-text{
    width: 11.5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: $padding-sides;
    background-color: $primary-white;
    color: $primary-black;
}

.call-to-action-2-text p{
    width: 100%;
    height: auto;
    font-family: $sans-serif-body-font;
    font-weight: 400;
    font-size: 16px;
}
