@use 'variables' as *;
@use 'mixins' as *;

* { margin: 0; padding: 0; box-sizing: border-box; }

.video-background{
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#background-video{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1; 
}

// .overlay{
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     color: $primary-white;
//     z-index: 0;
// }

.hero-section{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-section-middle{
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    left: 0; 
    right: 0;
    margin: auto;
}

@media (min-width: $desktop){
    .break{
        display: inline-block;
    }
}

.hero-section-bottom{
    position: absolute;
    bottom: 6rem;
}

.hero-text-wrapper {
    @include heading-style-white(1.125rem);
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $padding-sides;

    @media (min-width: $desktop){
        @include heading-style-white(1.5rem);
    }
}

h1{
    width: fit-content;
    height: auto;
}



.inline-block {
    display: block;
}

.italic-text{
    @include italic-text(20px);

}

.call-to-action-1{
    padding: 0 $padding-sides;
    display: flex;
    flex-direction: row;
    justify-content: start;
    column-gap: 0.6rem;
    @include body-style-white($body-reg);
}

.call-to-action-1 p{
    font-family: $sans-serif-body-font;
    font-weight: 300;
    font-size: 17px;
}

.hero-section a{
    text-decoration: none;
}

.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action-2-anchor{
    display: none;
}

.call-to-action-2{
    z-index: 1;
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: start;
    width: 17.5rem;
    height: 7.5rem;    
}

.bottle-img-container{
    width: fit-content;
    height: fit-content;
    
    img{
        width: 7.5rem;
        height: 6rem;
        object-fit: contain;
    }
}

.call-to-action-text{

}

