// Colours
$primary-white: #ffffff;
$primary-black: #000000;
$primary-blue: #061136;

// Font-families
$heading-font: "Goudy Old Style", serif;
$heading-font-tracking: -0.043em;
// $header-font-italic:
$header-font-italic: "Hoefler Text", serif;
$header-font-italic-tracking: -0.062em;

// $body-font-italic: ;
$body-font: "Goudy Old Style", serif;


// Heading style
h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
    letter-spacing: $heading-font-tracking;
    font-weight: normal;
}
  


// Font-sizes
$heading-xxl: 5rem;
$heading-xl: 4rem;
$heading-lg: 2.5rem;
$heading-md: 2rem;


$body-reg: 1rem;
$body-small: 0.75rem;


// Section
$padding-sides: 1.25rem;

// Media queries
$desktop: 50.625rem;
$desktop-lg: 74.9375rem;


