// Colours
$primary-white: #ffffff;
$primary-black: #000000;
$primary-blue: #061136;

// Font-families
$heading-font: "EB Garamond", serif;
// $header-font-italic: ;
$body-font: "Roboto", sans-serif;
// $body-font-italic: ;


// Font-sizes
$heading-xl: 4rem;
$heading-lg: 2.5rem;
$heading-md: 2rem;

$body-reg: 1rem;
$body-small: 0.75rem;


// Section
$padding-sides: 1.25rem;

// Media queries
$desktop: 50.625rem;

$footer-column-width: 30%;
$footer-bg-color: #dcd9d2;
$footer-text-color: #333;
$footer-padding: 1.25rem;